
body {
   background-image: url('./Images/61vV02.jpg');
   background-size: cover;
   width: 100vw;
   height: 100vh;
}
.nav-bar{
    color: rgb(0, 0, 255);
    float: left;
    margin-left: 40px;
    font-weight: 500 !important;

    
}

.logo{
   image-resolution: 300px;
   margin-bottom: -60px;
   margin-left: 20px;


}

 .menu{
    font-size: 15px;
    float: left;
    list-style: none;
    padding: 10px;
    margin-top: 0px;
 }


 .dark{
   color: rgb(79, 79, 79) !important;
   font-weight: 500;
 }



.button{
   height: 37px;
   background-color: rgb(0, 0, 255);
   width: 160px;
   font-size: 15px;
   color: aliceblue;
   /* display: flex; */
   float: right;
   border: 0px;
   text-align: right;
   border-radius: 6px;
   margin-bottom: -100px;
   margin-right: 30px;
   font-weight: 500;
}


.icon{
   height: 14px;
   width: 14px;
   display: flex;
   float: right;
   margin-top: 3px;
   margin-left: 4px;
}



.center-image {
   text-align: center;
   margin-top: 120px;

}


.wallet-icon {
   height: 25px;
   width: 25px;
   margin-right: 10px;
}


.akp{
   margin-top: -1px;
}
